:root {
  background-color: #6d2416;
}

#header {
  background-color: rgb(51, 206, 159);
  width: 100%;
}

#title {
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  padding: 20px 0 0 30px;
}

#scoreDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 15px;
  color: orange;
}

.gameOver {
  background-color: rgb(158, 59, 34, 0.5);
}

#best {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px 15px 0;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgb(51, 206, 159);
}

#tilesWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#tileContainer {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.imgWrapper {
  padding: 10px 10px 12px 10px;
  background-color: rgb(18, 165, 96);
  border-radius: 12px;
}

.imgWrapper:hover {
  cursor: pointer;
  background-color: orange;
}

.picName {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 7px;
}

@media all and (max-width: 1366px) {
  #title {
    padding: 5px 0 0 30px;
  }

  #best {
    padding-bottom: 5px;
  }

  img {
    width: 130px;
    height: 130px;
  }

  .picName {
    padding: 0;
  }

  .imgWrapper {
    padding: 10px;
  }
}